# Dependencies
node_modules/

# Environment variables
.env

# Uploads
public/uploads/*

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# MongoDB data (if running locally)
data/

