h1{
    color: maroon;
}
.posts{
    background-color: blanchedalmond;
}
body{
    background-color: lightgrey;
}
.post{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite ;
} 